body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #2c3e50;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #ecf0f1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

a {
    color: #3498db;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.custom-btn {
    background-color: #007bff;  /* Bootstrap's primary blue */
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
}